{% extends "bootstrap/base.html" %}
{% block title %}Cadastrar{% endblock %}

{% block content %}
<form class="text-center border border-light p-5" method="POST" action="/user/register">  

    <p class="h4 mb-4">Cadastrar</p>

    <p>Cadastre-se para armazenar seus arquivos</p>

    <input type="text" name="name" id="defaultSubscriptionFormPassword" class="form-control mt-5" placeholder="Nome">

    <input type="email" name="email" id="defaultSubscriptionFormEmail" class="form-control mb-4 mt-5" placeholder="E-mail">
    
    <input type="password" name="password" id="defaultSubscriptionFormEmail" class="form-control mb-4 mt-5" placeholder="Senha">

    <button class="btn btn-info btn-block mt-5" type="submit">Cadastrar</button>

    <a href="/login">Já tem cadastro? Faça login aqui</a>

</form>

<style>
    form{
        margin: 150px 400px auto 400px;
    }
    .mt-5{
        margin-top: 10px;
    }
</style>
{% endblock %}
